.board {
  width: 300px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 0;
  }

  &__player {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    font-size: 23px;
  }

  & h1 {
    color: #fff;
    font-size: 46px;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
