.modal {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa,
    0 0 0px #0fa, 0 0 0px #0fa, 0 0 5px #0fa, 0 0 10px #0fa;

  &__svg {
    width: 40px;
    height: 40px;
    fill: white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa,
      0 0 0px #0fa, 0 0 0px #0fa, 0 0 5px #0fa, 0 0 10px #0fa;
    cursor: pointer;
  }

  &__name {
    color: #fff;
    font-size: 16px;
    position: relative;
  }

  &__turn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 5px;
    bottom: 23px;
    font-weight: 900;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa,
      0 0 0px #0fa, 0 0 0px #0fa, 0 0 5px #0fa, 0 0 10px #0fa;
  }

  &__input {
    width: 100%;
  }

  &__form {
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
}
