.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed white;
  padding-bottom: 40px;

  &__players {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
